/* major elements */
html {
  background-color: rgb(59, 52, 52);
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  text-align: center;
}

/* headers & text  */
h1 {
  font-family: 'adobe-garamond-pro', serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(216, 216, 216);
  font-size: 140px;
}
h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(146, 146, 146);
}
h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(146, 146, 146);
}
h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(104, 104, 104);
}
p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
  color: rgb(179, 179, 179);
}

/* style */
i {
  color: rgb(185, 185, 185);
  font-weight: 400;
}

/* classes */
.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
