/* major elements */
html {
  background-color: #11111B;
  text-shadow:
  0 0 250px #605e80;

  margin-left: 20px;
}

/* headers & text  */
h1 {
  font-family: 'JetBrainsMono', monospace;
  font-size: 6vmin;
  font-weight: 700;

  color: #BAC2DE;

  margin-top: 20vmin;
}
h2 {
  font-family: 'JetBrainsMono', monospace;
  font-size: x-large;
  font-weight: 700;

  color: #BAC2DE;
}
p {
  font-family: 'JetBrainsMono', monospace;
  font-size: large;
  font-weight: 400;

  color: #BAC2DE;
}

a {
  text-decoration: none;
  color: #BAC2DE;

  transition: color 0.3s;
}
a:hover {
  color: #CAA4F7;
}

/* responsive resizing (mobile first) */
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  h1 {
    font-size: 4vmin;
  }
} 