/* major elements */
html {
  background-color: #11111B;
  text-shadow:
  0 0 250px #605e80;

  margin-left: 20px;
}

/* headers & text  */
h1 {
  font-family: 'JetBrainsMono', monospace;
  font-size: 6vmin;
  font-weight: 700;

  color: #BAC2DE;

  margin-top: 20vmin;
}
h2 {
  font-family: 'JetBrainsMono', monospace;
  font-size: x-large;
  font-weight: 700;

  color: #BAC2DE;
}
p {
  font-family: 'JetBrainsMono', monospace;
  font-size: large;
  font-weight: 400;

  color: #BAC2DE;
}

a {
  text-decoration: none;
  color: #BAC2DE;

  transition: color 0.3s, margin-left 0.4s;
}
a:hover {
  color: #CAA4F7;
  text-shadow: 0px 0px 120px #CAA4F7;
  margin-left: 5px;
}

.github-link {
  font-weight: 500;
  color: #6C7284;
}
.home-link {
  font-weight: 500;
  color: #6C7284;
}
.nothome-link {
  font-weight: 500;
  color: #6C7284;
}
.icon {
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
}

/* responsive resizing (mobile first) */
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  h1 {
    font-size: 4vmin;
  }
} 

/* animations */
.zoom-fade-in {
  opacity: 0; /* Start with the text hidden */
  animation: zoomFadeIn 1s forwards; /* Apply the animation with a duration of 1 second */
}
.zoom-fade-in-delay {
  opacity: 0;
  animation: zoomFadeIn 1s forwards;
  animation-delay: 0.3s; /* Add a delay of 0.5 seconds */
}

@keyframes zoomFadeIn {
  0% {
    transform: scale(0.95); /* Start with a smaller size */
    opacity: 0; /* Start with the text hidden */
  }
  100% {
    transform: scale(1); /* End with the original size */
    opacity: 1; /* Fully visible */
  }
}