@import 'tailwindcss';

@theme {
  /* fonts */
  --font-*: initial;
  --font-sans: DM Sans, sans-serif;
  --font-title: Outfit, sans-serif;
  --font-serif: serif;

  /* colours */
  --bg-base: #040405;
}